{
  "name": "Minter MBank Bot",
  "database": {
    "driver": "ME_DB_DRIVER",
    "name": "ME_DB_NAME",
    "user": "ME_DB_USER",
    "password": "ME_DB_PASSWORD"
  },
  "server": {
    "port": "ME_SRV_PORT"
  },
  "bot": {
   "token": "ME_BOT_TOKEN" 
  },
  "bipdev": {
    "api": "ME_BIPDEV_HOST"
  }
}