[Unit]
Description=Minter MBank Bot Service
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
KillMode=process
TimeoutStartSec=10
Restart=always
RestartSec=15s
WorkingDirectory=/opt/minter/mbankbot/current
ExecStart=/opt/minter/mbankbot/current/mbankbot -config=/opt/minter/mbankbot/current/config.json

User=minter
Group=minter

[Install]
WantedBy=multi-user.target